<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/karate.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ReportPortalAppender" class="com.epam.reportportal.logback.appender.ReportPortalAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n</pattern>
    </encoder>
  </appender>


  <!--'additivity' flag is important! Without it logback will double-log log messages-->
  <logger name="binary_data_logger" level="TRACE" additivity="false">
    <appender-ref ref="RP" />
  </logger>

  <logger name="com.intuit" level="DEBUG" />
  <logger name="com.epam.reportportal.service" level="WARN" />
  <logger name="com.epam.reportportal.utils" level="WARN" />

  <!-- By default, the level of the root level is set to DEBUG -->
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ReportPortalAppender" />
  </root>

</configuration>
